<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>School Accounts Management</title>
  <link rel="stylesheet" href="home.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to School Accounts Management</h1>
    <div class="options">
      <div class="option">
        <img src="/image/admin.jpeg" alt="Admin Image">
        <button class="head-btn" onclick="location.href='/login-head';">Enter as Admin</button>
      </div>
      <div class="option">
        <img src="/image/casier.jpeg" alt="Cashier Image">
        <button class="admin-btn" onclick="location.href='/login';">Enter as Cashier</button>
      </div>
      <div class="option">
        <img src="/image/student.jpeg" alt="Student Image">
        <button class="student-btn" onclick="location.href='/studentacess';">Student Access</button>
      </div>

    </div>
  </div>

  
</body>
</html>
